.player-wrapper {
    position: relative;
    padding-top: 56.25%
}

.react-player {
    position: absolute;
    top: 0;
    left: 0
}

.react-player:focus {
    outline: transparent;
}

.react-player__play-icon {
    display: none;
}

.react-player__preview {
    pointer-events: none;
    opacity: 0.5;
}

.react-player__preview:focus {
    outline: transparent;
}

.play-pause-button-container {
    position: absolute;
    top: 50%;
    left: 50%;
}

.player-button {
    font-size: 3rem;
    color: #ffc107;
}

.backward-button-container {
    position: absolute;
    top: 50%;
    left: 35%
}

.forward-button-container {
    position: absolute;
    top: 50%;
    left: 64%;
}

.rating-overlay-container {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    flex-direction: row;
    display: flex;
}

.rating-label {
    border: #ffc107 solid 1px;
    padding: 0.5rem 1rem;
    color: #ffc107;
    border-radius: 2rem;
    margin-right: 1rem;
}

.rating {
    padding: 0.5rem 1rem;
    color: #000;
    border-radius: 1rem;
    background-color: #ffc107;
}

.views-container {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
}

.views {
    color: #ffc107;
    font-size: 2rem;
}

.views-label {
    margin-left: 1rem;
}
