
.card:hover{
    opacity: 1;
    transform: scale(1.05);
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.card {
    min-height: 0;
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    height: 480px;
    cursor: pointer;
    transition: all 450ms;
}

.other{
    flex: 0 0 auto;
    min-height: 0;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
    height: 300px;
    width: 330px;
    cursor: pointer;
    transition: all 450ms;
}

.other:hover{
    opacity: 1;
    transform: scale(1.05);
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.albums{
    flex: 0 0 auto;
    min-height: 0;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    padding-right: 1rem;
    cursor: pointer;
    transition: all 450ms;
}

.albums:hover{
    opacity: 1;
    transform: scale(1.05);
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.display {
    color: #fff;
    margin-left: 40px;
}

@media only screen and (max-width : 540px){
    .card{
        height: 300px;
    }
    .other {
        height: 200px;
    }
    .display {
        margin-left: -30px;
    }
}
