#header {
    transition: all ease .2s;
}

.toggle-btn {
    background-color: transparent;
    margin-right: 1rem;
}

.toggle-btn-icon {
    background-color: white;
    margin-right: 1rem;
}

.navbar-container {
    padding-right: 0;
}

.navbar-logo {
    width: 20rem;
}

.button-container {
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.nav-button {
    background-color: transparent;
    border-color: transparent;
}

.nav-button-label {
    text-transform: uppercase;
    font-size: 1.4rem;
}

.home-button-label {
    color: #ffc107;
    font-size: 1.4rem;
}

.rocket-icon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2.4rem;
    margin-right: 1rem;
}

.subscribe-button-label {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.4rem;
}

.search-icon {
    color: rgba(255, 255, 255, 0.7);
    font-size: 2rem;
}

.button-border {
    border: #ffc107 0.1rem solid;
}

.tilted-button {
    transform: skew(15deg);
}

.nav-button-right {
    margin-right: -1rem;
    background-color: #ffc107;
}

.parallelogram {
    transform: skewX(-15deg);
    border-radius: 0.6rem;
}
